* {
	padding: 0;
	margin: 0;
}

.hero {
	background: rgba(255,216,255,1);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
}

h1 {
	text-shadow: 10px 10px 0 rgba(192,192,192,1);
	font-size: 100px;
}
